asgiref
boto3
botocore
Django
django-filter
django-storages
djangorestframework
djangorestframework-simplejwt
drf-yasg
inflection
jmespath
packaging
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
s3transfer
setuptools
six
sqlparse
uritemplate
urllib3
